# 시스템 및 IDE 파일 제외
.DS_Store
.idea
.vscode/
*.log
*.swp
*.swo

# Node.js (React) 관련 파일 제외
node_modules/
package-lock.json
yarn.lock
npm-debug.log
.yarn
.yarn-integrity
dist/
build/

# Spring Boot 관련 파일 제외
target/
build/
logs/
.env
application.properties
application.yml

# Gradle 관련 파일 제외
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA 설정 파일 제외
.idea
*.iws
*.iml
*.ipr
out/

# VS Code 관련 파일 제외
.vscode/../frontend/

# 크롤링 관련
scripts/encar_crawler.py
*.env

# .gitignore
src/main/resources/application.properties